* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Red Hat Display", "Arial", sans-serif;
  color: #666666;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin: auto;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

hr{
  background: #8643DC;
  border: none;
  width: 50px;
  height: 2px;
  margin-top: 10px;


}
/* HEADER QISMI */

.header-inner {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.header-nav {
  width: 338px;
  height: 26px;
  font-size: 20px;
  line-height: 26px;
  margin: auto;
  margin-left: 100px;
}

.header-nav a {
  text-decoration: none;
  color: #666666;
}

.header-nav a:hover {
  color: #25202F;
}

.header-ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.header-btn-menu {
  background: #FFFFFF;
  box-shadow: 0px 20px 50px rgba(198, 185, 233, 0.3);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 20px;
  border: none;
}


/* MAIN QISMI */

/* main adam zakob qismi */

.main-adam-section {
  display: flex;

}

.main-adam-title {
  width: 358px;
  height: 212px;
  margin-top: 125px;
  margin-bottom: 20px;
  margin-right: 141px;
}

.main-adam-h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  color: #25202F;
}

.main-adam-item {
  font-size: 22px;
  line-height: 120%;
  font-weight: 500;
  font-style: normal;
  color: #666666;
}

.main-adam-ux {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  font-style: normal;
  color: #25202F;
  padding-top: 15px;
  padding-bottom: 50px;
}

header button {
  width: 200px;
  height: 60px;
  background: #8643DC;
  color: #fff;
  border-radius: 100px;
  border: none;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
}

.main-adam-images {
  /* background-image: url(../images/adam-fon-icon.png); */
  width: 752px;
  height: 750px;
}


/* <!-- MAIN SERVICES QISMI  --> */

.main-services-section {
  height: 400px;
}

.main-services-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #8643DC;
}

.main-services-h2 {
  width: 246px;
  height: 96px;
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  font-style: normal;
  color: #25202F;
  margin-top: 15px;
}

.main-services-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.main-services-ul-list {
  width: 350px;
  height: 205px;
  font-size: 16px;
  line-height: 32px;
  color: #47444E;
  margin-top: 50px;
}

.main-services-h3 {
  display: flex;
  width: 350px;
  height: 62px;
  margin: auto;
  align-items: center;
}

/* MAIN PORTFOLIO PART */

.main-portfolio-section {
  background: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%);
  height: 722px;
  margin-top: 100px;
}

.main-portfolio-header {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}

.main-portfolio-header a {
  color: #25202F;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
  text-decoration: underline;
  padding-right: 5px;
}

.main-portfolio-h2 {
  width: 294px;
  height: 96px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #25202F;
}

.main-portfolio-image-list {
  display: flex;
}

.main-portfolio-image {
  width: 540px;
  height: 427px;
  display: flex;
  justify-content: unsafe;
  background: url(../images/css-image.png);
  filter: drop-shadow(0px 20px 50px rgba(220, 192, 255, 0.3));
  border-radius: 10px;
}

/* MAIN CLIENTS PART  */

.main-clients-section {
  height: 361px;
}

.main-clients-h2 {
  width: 140px;
  height: 96px;
  color: #25202F;
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
  line-height: 48px;
  margin-top: 27px;
}

.main-clients-ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 44px;
}

.main-clients-list-slack {
  background-color: #FFF7FA;
  border: 1px solid #FFE7F0;
  box-shadow: 0px 4px 5px 5px #FFF7FA;
  border-radius: 10px;
  width: 170px;
  height: 170px;
  text-align: center;
  padding-top: 33px;
  padding-bottom: 30px;
}

.main-clients-list-medium {
  background-color: #EDFFF5;
  border: 1px solid #CAFFE1;
  box-shadow: 0px 4px 5px 5px #edfff5;
  border-radius: 10px;
  width: 170px;
  height: 170px;
  text-align: center;
  padding-top: 33px;
  padding-bottom: 30px;
}

.main-clients-list-microsoft {
  background-color: #F5FCFF;
  border: 1px solid #DDF5FF;
  box-shadow: 0px 4px 5px 5px #F5FCFF;
  border-radius: 10px;
  width: 170px;
  height: 170px;
  text-align: center;
  padding-top: 33px;
  padding-bottom: 30px;
}

.main-clients-list-zelpin {
  background-color: #FFFBF2;
  border: 1px solid #FFEEC9;
  box-shadow: 0px 4px 5px 5px #FFFBF2;
  border-radius: 10px;
  width: 170px;
  height: 170px;
  text-align: center;
  padding-top: 33px;
  padding-bottom: 30px;
}

.main-clients-list-shopify {
  background-color: #F4FFED;
  border: 1px solid  #DBFFC4;
  box-shadow: 0px 4px 5px 5px #F4FFED;
  border-radius: 10px;
  width: 170px;
  height: 170px;
  text-align: center;
  padding-top: 33px;
}

.main-clients-list-h3 {
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  margin-top: 22px;
}


/* MAIN TESTIMONIALS PART  */

.main-testimonials-section {
  background: linear-gradient(180deg, rgba(203, 163, 255, 0.2) 0%, rgba(197, 255, 176, 0.2) 100%);
  height: 722px;
  margin-top: 100px;
}

.main-testimonials-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #8643DC;
  padding-top: 50px;
}

.main-testimonials-h2 {
  width: 217px;
  height: 96px;
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
  line-height: 48px;
  color: #25202F;
  margin-top: 15px;
}

.main-testimonials-h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  align-items: center;
  margin-top: 19px;
}

.main-testimonials-main {
  height: 382px;
}

.main-testimonials-ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 1110px;
  margin-top: 67px;
  padding-left: 30px;
  padding-right: 30px;

}

.main-testimonials-ul2 {
  height: 185px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 50px;
  padding-left: 166px;
  padding-right: 165px;
}

.main-testimonials-ul-list {
  width: 569px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #636066;
}

.main-testimonials-ul-list2 {
  padding-top: 134px;

}

.main-testimonials-ul-michal {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #000;
  text-align: center;
}

.main-testimonials-btn {
  width: 160px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 40px;
}

.main-testimonials-dot {
  background: #8643DC;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.main-testimonials-cricle {
  background: rgb(244 241 250);
  border-color: #8643DC;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* MAIN BLOG PART  */

.main-blog-section {
  display: flex;
  justify-content: center;
  margin-top: 84px;
}

.main-blog-title {
  width: 165px;
  height: 147px;
}

.main-blog-h2 {
  width: 165px;
  height: 96px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #25202F;
  margin-top: 15px;
}

.main-blog-ul {
  display: flex;
  list-style-type: none;
  margin-left: 25px;
}

.main-blog-ul-list {
  width: 350px;
  height: 331px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #8643DC;
}

.main-blog-ul-list2 {
  position: relative;
  width: 255px;
  height: 350px;
  margin-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #fff;

}

.main-blog-ul-list-h3 {
  width: 350px;
  height: 47px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  margin-top: 10px;
}
.main-blog-ul-list2-h3 {
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #25202F 100%);
  position: absolute;
  bottom: 0px;
  width: 255px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  padding-left: 10px;
  padding-right: 40px;
  padding-top:0px;
  padding-bottom: 20px;
}

.main-blog-ul-list2-span {
  left: 10px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

/* FOOTER PART  */

.footer-section {
  height: 173px;
  margin-top: 96px;
}

.footer-h2 {
  width: 258px;
  height: 48px;
  font-size: 36px;
  line-height: 48px;
  font-style: normal;
  font-weight: 400;
  color: #25202F;
  margin: auto;
}

.footer-ul {
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: auto;
}

.footer-ul-list {
  margin-top: 30px;

}